{% extends 'base.html' %}
{% load static %}
{% block title%} Portal {% endblock%}
{% block content%}

<div class="container-fluid">
   <a href="{% url 'teacher:scheduleLec' %}" ><button class="btn btn-primary btn-sm">Schedule lecture</button></a>
          {% if lectures %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Lectures</h4>
                  <p class="card-category">Lectures conducted by you.</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Topic
                        </th>
                        <th>
                          Subject
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          Attendance
                        </th>
                        <th>
                          View
                        </th>
                      </thead>
                      <tbody>
                        {% for i in lectures %}
                        <tr>
                        <td>{{i.topic}}
                        </td>
                        <td>{{i.subject}}
                        </td>
                        <td>{{i.date}}
                        </td>
                        <td><a href="{% url 'teacher:markAttend' i.topic %}" class="btn btn-primary btn-sm">Edit
                        </a>
                        </td>
                        <td><a href="{% url 'teacher:attendance' i.topic %}" class="btn btn-primary btn-sm">View
                        </a>
                        </td>
                        </tr>
                      {% endfor %}  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          {% endif %}
         
    
</div>

{% endblock %}
